:root {
	--color-line-sec: #f4f4f4;
	--color-text_link: #739e8b;
}

h2{
	text-transform:uppercase;
	font-size:15pt;
	margin:0
}
	
.logo{display:block;
	position:relative;
	height:0;
	width:100%
}
.logo-bg{
	background:url(/images/logo-bg.png);
	background:linear-gradient(rgba(219,226,231,.7),rgba(219,226,231,0));
	padding-bottom:20px
}
.logo img {
	position:relative;
	display:block;
	margin:0 auto;
	top:-25px;
	height:200px
}
.smsc{
	background:50% no-repeat;
	padding:15%;
	height:0
}
.headline{
	color:var(--color-text_link);
	margin-top:.5em
}
.feature a{
	display:block;
	color:inherit;
	text-decoration:none
}
.headline:hover {
	color: #dafbe1;
}
.feature:hover {
	color: #fff;
}

#download{
	text-align:center;
	padding:20px
}
#download p{
	margin:0 0 20px
}
.button{
	display:block;
	background:#72b2dd;
	border:1px solid #6095b8;
	border-radius:3px;
	padding:10px;
	margin:auto;
	max-width:250px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;
	font-weight:700
}


.half h2{
	font-size: 40px;
	font-weight: bold;
	line-height: 60px;
	margin-left:25px;
	margin-right:25px
}
.half p{
	font-size: 25px;
	margin-left:25px;
	margin-right:25px
}

.half{
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	margin-top:0px;
	width:50%
}
.half img:not(.sicon){
	display:block;
	margin:10px;
	width:85%;
	max-height:370px;
	max-width:500px
}

.sicon{
	display: none;
	font-size: 40px;
	font-weight: bold;
	line-height: 60px;
	margin-left:50%;
	margin-right:50%;
	width:10%;
}


.section:nth-child(odd) {
	border-top:2px solid var(--color-line-sec);
}
.section:nth-child(even) {
	border-top:2px solid var(--color-line-sec);
}

@media all and (max-width:990px){
	.logo img{
		width:50%;
		min-width:220px;
		max-height:200px;
		height:auto
	}
}
@media all and (max-width:810px){
	.half h2{
		margin-top:5px;
		font-size: 15pt;
		font-weight: bold;
		line-height: 10px;
		margin-left:25px;
		margin-right:25px
	}
	.half p{
		font-size: 12pt;
		line-height: 20px;
		margin-left:25px;
		margin-right:25px
	}

	.smsc{
		padding:0;
		height:250px
	}
}
@media all and (max-width:605px){

	.feature{
		color:inherit;
		text-decoration:none
		margin-left:0px;
		margin-right:0px
	}
	.half{
		width:100%;
		display:inline
	}
	.half img:not(.sicon){
		display: none;
	}
	.sicon{
		display:block
	}
}
