/* Main style */

:root {
	--color-text: #e1dfc8;
	--color-text-link: #739e8b;

	--color-text-menu: #d6d6d6;

	--color-header: rgba(0, 0, 0, 0.5);
	--color-menu: rgba(0, 0, 0, 0.55);
	--color-menu-hover: #ffffff;
	--color-footer: #31413c;
	--color-text-footer: #fff;
	--color-footer-bord: #fff;

	--color-container: rgba(0, 0, 0, 0.6);
	--color-backg: #7aa496;
}

.icon {
	color: #fff;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	text-align: center;
	font-family: "FontAwesome";
	font-weight: 400;
	border: 1px solid #fff;

	font-size: 25pt;
	width: 52px

}

#header .icon {
	font-size: 12pt;
	width: 25px;
}

.social a{
	float: left;
	margin: 4px 5px 2px;
	padding: 0;
}
html {
	background: var(--color-backg);
	color: var(--color-text);
	line-height: 1.5;
}
body {
	font-family: -apple-system, "Segoe UI", "Open Sans", Roboto, "DejaVu Sans Condensed", Helvetica, "Geeza Pro", Arial, sans-serif;
	margin: 0;
}
img {
	border: none;
}
h1 {
	text-transform: uppercase;
	font-size: 20pt;
	margin: 0 0 10px 0;
}
a {
	text-decoration: none;
	color: var(--color-text-link);
}
a:hover {
	text-decoration: underline;
	color: #fff;
}
/* Header */
#header input, .mobile {
	display: none;
}
#header {
	background: #C2C8CC;
	background: var(--color-header);
	position: fixed;
	left: 0;
	top: 0;
	height: 35px;
	width: 100%;
	z-index: 10;
}
#menu {
	display: table;
	margin: 5px auto 0;
}
#menu .item {
	display: inline;
	border-right: 1px solid #999;
}
html[dir="rtl"] #menu .item {
	border-right: none;
	border-left: 1px solid #999;
}
#menu .item a, .menu {
	cursor: pointer;
	color: var(--color-text-menu);
	padding: 0 20px;
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	transition: color 300ms ease;
}
#menu .item a:hover, .menu:hover {
	color: var(--color-menu-hover);
	text-decoration: none;
}
#menu .item:last-child {
	border: none !important;
}

.home .image {

	background-image: url(../img/logo-indx.svg);
	background-position: 0 50%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 96px;
	opacity: .4;
	color: transparent;
	transition: opacity 300ms ease !important;
}
.home:hover .image {
	opacity: 1;
}
.home .disable {
	display: none;
}
/* Main content */
#container {
	background: var(--color-container);
	position: relative;
	margin: 75px auto 30px;
	max-width: 1000px;
	width: 90%;
}
/* Footer */
#footer input {
	display: none;
}
#footer {
	background: var(--color-footer);
	color: var(--color-text-footer);
	font-size: 14px;
	padding-bottom: 5px;
	width: 100%;
}
.center {
	display: table;
	margin: 0 auto;
	max-width: 1000px;
}
#footer a {
	color: var(--color-text-footer);
}
#footer .links {
	font-weight: bold;
	text-transform: uppercase;
}
.foot_left {
	display: inline-block;
	margin: 15px 20px 0 20px;
}
.foot_right {
	display: inline-block;
	float: right;
	margin: 15px 20px 0 20px;
}
html[dir="rtl"] .foot_left {
	float: right;
}
html[dir="rtl"] .foot_right {
	float: none;
}
#footer .copyright {
	font-size: 11px;
}
#footer .copyright .by {
	color: var(--color-text-link);
}

#footer a {
	color: var(--color-text-link);
}

#footer a:hover {
	color: #dafbe1;
}
#footer .connect {
	display: inline-block;
}
#footer .connect a {
	background-image: url(resources/img/social_logos.png);
	display: inline-block;
	margin-right: 20px;
	height: 50px;
	width: 50px;
	float: left;
}
#footer .connect .ri {
	background-position: 100px 0;
}
#footer .language {
	float: left;
	position: relative;
	margin: 0 40px 20px 0;
}
html[dir="rtl"] #footer .language {
	float: right;
	margin: 0 0 20px 40px;
}
#footer .language span {
	display: block;
}
#footer .language > label {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 10pt;
	padding: 1px 3px;
	border: 1px solid var(--color-footer-bord);
	border-radius: 2px;
	width: 100px;
}
#footer .languages {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 168px;
	overflow-x: hidden;
	overflow-y: auto;
	background: var(--color-footer);
	border: 1px solid  var(--color-footer-bord);
	border-radius: 2px;
}
#footer #language-menu:checked+.languages {
	display: block;
}
#footer .languages a, #footer .languages label {
	padding: 2px 5px;
	display: block;
}
#footer .languages label {
	cursor: pointer;
	font-weight: bold;
}

/* For displays smaller than 935px we start showing some mobile styling */
@media all and (max-width:935px){
	#footer {
		height: auto;
		padding-bottom: 15px;
	}
	.foot_right {
		display: block;
		float: none;
		margin-top: 5px;
		/* margin-left: 35px; */
	}
}
@media all and (max-width:890px){
	.desktop {
		display: none !important;
	}
	.mobile {
		display: block !important;
	}
	.mobile.menu {
		display: inline-block !important;
		margin-top: 5px;
		float: right;
	}
	.mobile.home {
		float: left;
	}
	a.menu:not(.home) {
		border-right: 1px solid #999;
	}
	#menu {
		background: #D1D7DC;
		background: var(--color-menu);
		display: block;
		position: absolute;
		right: 0;
		padding: 0 15px;
		margin-top: 35px;
		min-width: 200px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 500ms ease;
	}
	#mobile-menu:checked + #menu {
		max-height: 143px;
	}
	#menu .item {
		display: block;
		border-right: none;
		border-left: none !important;
		border-bottom: 1px solid #999;
	}
	#menu .item a {
		display: block;
		padding: 5px;
	}
}
@media all and (max-width:460px){
	a.menu:not(.home) {
		display: none !important;
	}
	.small_mobile {
		display: block !important;
	}
	a.menu {
		padding-right: 0;
	}
	label.menu {
		padding-left: 0;
	}
	#mobile-menu:checked + #menu {
		max-height: 179px;
	}
	#footer .links span, .copyright span:not(.by) {
		display: none;
	}
	#footer .links a {
		display: block;
		margin: 10px 0;
	}
	#footer .links a:first-child {
		margin-top: 0;
	}
	.copyright .by {
		display: block;
	}
	#footer .foot_left, #footer .language {
		float: none !important;
	}
}
